@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.Header{
    display: flex;
    justify-content: space-between;
    background: #2b2b2b;
    color: white;
    padding: 20px;
}
.Header h1{
    font-size: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.Header ul{
   display: flex;
   
}

.Header ul li{
    margin: 20px;
    padding: 18px;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.Header a:hover{
    opacity: 0.8;
}
a{
    color: white;
    text-decoration: none;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: gray;
    height: 550px;
    
}


.banner-title{
    font-size: 84px;
    font-family: var(--Playfair);
    line-height: 1.2;
    margin-top: 70px;
}
.banner-title span{
    background-color: cornflowerblue;
    border-radius: 22px;
    
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 20px;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


.design{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.blog{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 170px;
    padding: 30px 50px;
    margin-left: 100px;
    
}
.box h4{
  margin-top: 20px;
  font-size: 25px;
  margin: 20px;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}


.blog img{
    height: 400px;
    width: 400px;
    padding: 20px;
    
}

.blog{

    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 150px;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text button{
    background-color: black;
    border-radius: 40px;
    padding: 10px;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--exDark);
}
.parent-container{
    display: flex;
   
}
.parent-container img{
    height: 500px;
    width: 500px;
    margin-left: 50px;
}

.about-text{
    margin: 80px 120px;
    font-size: 18px;
}
